[patch.crates-io]
muxio-core = { path = "../rust-muxio/core" }
muxio-rpc-service = { path = "../rust-muxio/extensions/muxio-rpc-service" }
muxio-rpc-service-caller = { path = "../rust-muxio/extensions/muxio-rpc-service-caller" }
muxio-rpc-service-endpoint = { path = "../rust-muxio/extensions/muxio-rpc-service-endpoint" }
muxio-tokio-rpc-ipc-client = { path = "../rust-muxio/extensions/muxio-tokio-rpc-ipc-client" }
muxio-tokio-rpc-ipc-server = { path = "../rust-muxio/extensions/muxio-tokio-rpc-ipc-server" }
